@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Lost is a Proof of Concept Web application for demonstrating concurrency control and lost update, created using C#, HTML, CSS and JavaScript.</p>
    <p><a href="@Url.Action("Index", "Customers")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>